.box{
    width: 95%;
    height: 40px;
    background-color: #F1F1F1;
    border: none;
}

.registerbtn{
    background-color: #1BB27C;
    border: none;
    color: white;
    width: 99%;
    height: 40px;
    cursor: pointer;
}

body{
    background-color: white;
}

label{
    font-weight: bold;
}