<hr>
<h1>Register with Name</h1>
<form action="/addname" method="post">
    <label>Enter Your Name:*</label>
    <br>
    <input type="text" placeholder="Enter first name..." name="first">
    <input type="text" placeholder="Enter last name..." name="last">
    <input type="submit" value="Add Name">
</form>